
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black; 
    color: white; 
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
    font-weight: lighter
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.header-left {
    display: flex;
    align-items: center;
}

.search-wrapper {
    display: flex;
    align-items: center;
}

.search-input {
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 5px 10px;
    width: 250px;
    outline: none;
    background-color: #fff;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #dddddd00;
    border: none;
    cursor: pointer;
    margin-right: 10px; 
}

.search-icon i {
    font-size: 20px;
    color: #ffffff;
}

.search-wrapper:hover .search-input {
    border-color: #888;
}

/* Hero header with background image */
.hero-header {
    position: relative; 
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    width: 100%;
    height: 100vh;
    font-size: 60px;
    background-image: url('image/mert-genccinar-neoplatonic-mystic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5rem;
    font-weight: lighter;
}

.header-icons {
    position: absolute; 
    top: 20px; 
    right: 0; 
    padding-right: 20px; 
    display: flex;
    align-items: center;
    gap: 15px; 
    z-index: 1000;
}

.header-icons i {
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.header-icons i:hover {
    transform: scale(1.2);
    color: #ffc107;
}

.logo {
    width: 150px; 
    height: auto; 
    vertical-align: middle; 
    margin-right: 5px; 
}

.caption {
    font-size: 1.2rem;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    color: #fff;
    text-align: left;
    margin-top: 0; /* Add space between title and caption */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    width: 50%; /* Make caption full width */
}
/* برای بخش آیکن‌های بالا سمت چپ */
.header-icons {
    display: flex; 
    align-items: center; 
    gap: 15px; 
}

.header-icons i, .profile-icon i {
    font-size: 24px; 
    cursor: pointer;
    color: white; 
    transition: transform 0.3s ease, color 0.3s ease; 
}

.header-icons i:hover, .profile-icon i:hover {
    transform: scale(1.2); 
    color: #ffc107; 
}

.modal {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: rgba(255, 255, 255, 0.568);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #000000;
}

.modal-content {
    width: 400px; 
    font-size: 0.5rem;
}

.profile-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    margin-bottom: 10px;
    text-align: left;
}

label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 3px
    color: #555;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;

    
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9rem;
}

.login-button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #ffd700;
    color: #000000;
}


.categories-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 10px 20px;
    background-color: #000000;
}

.arrow-button {
    background-color: #ffffff00;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrow-button:disabled {
    background-color: #000000;
    cursor: not-allowed;
}

.categories-section {
    display: flex;
    gap: 20px;
    overflow-x: auto; 
    scroll-behavior: smooth; 
    width: 100%; 
    padding: 10px 0;
}

.categories-section {
    overflow-x: hidden;  
    overflow-y: hidden;  
}

.category-box {
    flex: 0 0 auto;
    width: 170px;
    height: 69px; 
    padding: 15px;
    border: 1px solid #000000;
    border-radius: 20px;
    background-color: #f9f9f9; 
    background-image: url('your-image-path.jpg'); 
    background-size: cover; 
    background-position: center; 
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    text-align: center;
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: flex; 
}
.category-box:hover {
    background-color: #ddd; 
    transform: scale(1.05); 
    box-shadow: 0 5px 5px #ffd90068; 
    color: #ffd700; 
}


.category-box:nth-child(1) {
    background-image: url('image/Group23.png');
}

.category-box:nth-child(2) {
    background-image: url('image/Group24.png');
}

.category-box:nth-child(3) {
    background-image: url('image/Group25.png');
}

.category-box:nth-child(4) {
    background-image: url('image/Group27.png');
}

.category-box:nth-child(5) {
    background-image: url('image/Group28.png');
}

.category-box:nth-child(5) {
    background-image: url('image/Group28.png');
}

.category-box:nth-child(6) {
    background-image: url('image/Group 26.png');
}
.category-box:nth-child(7) {
    background-image: url('image/Group11.png');
}
.category-box:nth-child(8) {
    background-image: url('image/Group15.png');
}
.category-box:nth-child(9) {
    background-image: url('image/Group5.png');
}

.artworks-section {
    margin: 50px 0;
    padding: 0 20px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.section-title {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    color: #ffffff;
}

.section-more {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.section-more:hover {
    text-decoration: underline;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.gallery-item {
    background-color: #ddd;
    background-size: cover;
    background-position: center;
    aspect-ratio : 1/1; 
    border-radius: 8px; 
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05); 
}


.courses-container {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: flex-start; 
}
.course-item {
    width: 350px; 
    background: #D9D9D9;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 0; 
    position: relative;
    flex: 1 1 calc(33.333% - 20px); 
    box-sizing: border-box; 
    height: 350px; 
    color: black;
    margin-bottom: 20px;
}


.course-item:hover {
    transform: translateY(-10px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}
.course-image-wrapper {
    width: 100%; 
    height: auto; 
    max-height: 200px; 
    overflow: hidden; 
}

.course-image {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block; 
}

.course-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 68px;
    height: 55px;
    background: rgba(255, 255, 255, 0);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.course-content {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
}

.course-info {
    display: flex;
    flex-direction: column;
}

.course-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.course-rating {
    color: #000000;
    margin-bottom: 5px;
}

.course-user {
    display: flex;
    align-items: center;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    font-size: 14px;
    color: #555;
}

.course-price {
    font-size: 18px;
    font-weight: bold;
    color: #868686;
}

.course-item:hover .course-image-wrapper img {
    transform: scale(1.1); 
}


.course-item:hover .course-title {
    color: #625222; 
    transition: color 0.3s ease;
}
a {
    text-decoration: none; 
}

.blogs-container {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: flex-start; 
    margin-bottom: 50px; 
    
}

.blog-item {
    width: 350px; 
    background: #D9D9D9;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 0; 
    position: relative;
    flex: 1 1 calc(33.333% - 20px); 
    box-sizing: border-box; 
    height: 350px; 
    margin-bottom: 50px; 
    color: #000000;
}


.blog-item:hover {
    transform: translateY(-10px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.blog-image-wrapper {
    width: 100%; 
    height: auto; 
    max-height: 200px; 
    overflow: hidden; 
}

.blog-image {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block; 
}

.blog-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 68px;
    height: 55px;
    background: rgba(255, 255, 255, 0);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-content {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
}

.blog-info {
    display: flex;
    flex-direction: column;
}

.blog-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.blog-user {
    display: flex;
    align-items: center;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    font-size: 14px;
    color: #555;
}


.blog-item:hover .blog-image-wrapper img {
    transform: scale(1.1); 
}


.blog-item:hover .blog-title {
    color: #625222; 
    transition: color 0.3s ease;
}
footer {
    padding-top: 30px; 
    background-color: #D9D9D9;
    color: rgb(0, 0, 0);
    padding: 20px 0;
    text-align: center;
    
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left {
    display: flex;
    justify-content: space-between;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    width: 50%;
    margin-left: -120px; 
    gap: 40px; 
}

.footer-right {
    display: flex;
    justify-content: space-between;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    color: rgb(157, 157, 157);
    width: 30%;
    margin-right: -120px; 
}

.footer-column {
    width: 50%; 
}

.footer-column h3 {
    margin-bottom: 15px;
    font-size: 20px;
}

.footer-column p {
    margin: 5px 0;
    font-size: 20px;
    color: rgb(0, 0, 0);
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: pointer; 
}

.footer-column p:hover {
    color: rgb(50, 50, 50); 
    transform: scale(1.1); 
}

.footer-column ul {
    list-style: none;
    padding-left: 0;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer-column ul li a:hover {
    color: rgb(50, 50, 50); 
    transform: scale(1.1); 
}

footer {
    position: relative; 
}

.footer-social-icons {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
    padding: 20px; 
    position: absolute;
    bottom: 20px; 
    right: 20px; 
}


.social-title {
    font-size: 25px;
    font-weight: 100; 
    align-items: L;
    margin: 0; 
    color: #666666; 
    text-align: center; 
    justify-content: flex-start;
    margin-right: 200PX;
}


.social-icons {
    display: flex; 
    gap: 10px; 
}


.footer-social-icons img {
    width: 40px; 
    height: 40px; 
    object-fit: contain;
    transition: transform 0.2s ease;
}

.footer-social-icons img:hover {
    transform: scale(1.2); 
}
.footer-bottom {
    text-align: center;
    padding: 10px 0;
    background-color: #D9D9D9; 
    font-family: 'Fira Sans Extra Condensed', sans-serif; 
    font-size: 14px; 
    color: rgb(0, 0, 0);
    border-top: 1px solid #ccc; 
}

.footer-bottom a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}
